{% extends "base.html" %}

    <title>{% block title %}Password Reset{% endblock %}</title>
{% block content %}
  <div class="container register">
    <h3>Reset Password</h3>
    <form action="" method="post">
      {% csrf_token %}
      {% if form.email.errors %}
        <div class="error-message">
          {{ form.email.errors }}
        </div>
      {% endif %}
      <div class="form-group">
        <label for="email">Enter your email:</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email">
      </div>
      <button type="submit" class="btn btn-instagram register-button">Reset Password</button>
    </form>
  </div>
{% endblock %}
