<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="icon" href="{% static 'logo.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <div id="header">
        <div class="header-container">
            <div class="logo">
                <a href="/home/">AMAZING BOB</a>
            </div>
            <nav class="nav-links">
                <a href="/home/projects" class="header-button">ALL PROJECTS</a>
                <a href="/home/releases/" class="header-button">RELEASES</a>
                <a href="/home/faq/" class="header-button">FAQ</a>
                {% if request.user.is_authenticated %}
                    <button class="header-button" onclick="window.location.href='/home/user_projects'">{{ request.user.username }}</button>
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <input type="submit" value="Logout" class="header-button">
                    </form>
                {% else %}
                    <a href="{% url 'register' %}" class="header-button">REGISTER</a>
                    <a href="/accounts/login" class="header-button">LOGIN</a>
                {% endif %}
            </nav>
        </div>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
