{% extends "base.html" %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}FAQ{% endblock %}</title>
</head>

{% block content %}
<div class="container full-height">
    <div class="release-item centered">
        <h2>What is Amazing Bob?</h2>
        <p>Amazing Bob is a project management platform designed to help teams manage and track their projects efficiently.</p>
    </div>
</div>
<div class="container full-height">
    <div class="release-item centered">
        <h2>How do I register?</h2>
        <p>You can register by clicking on the "Register" button on the top right corner of the page.</p>
    </div>
</div>
<div class="container full-height">
    <div class="release-item centered">
        <h2>How do I log in?</h2>
        <p>To log in, click on the "Login" button at the top right corner and enter your credentials.</p>
    </div>
</div>
<div class="container full-height">
    <div class="release-item centered">
        <h2>Can I manage my projects from my profile?</h2>
        <p>Yes, you can manage all your projects from the "My Projects" section in your profile.</p>
    </div>
</div>
<div class="container full-height">
    <div class="release-item centered">
        <h2>Who can I contact for support?</h2>
        <p>If you need support, you can reach out via the "Contact Us" form or email us at support@amazingbob.com.</p>
    </div>
</div>
{% endblock %}
