{% extends "base.html" %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}FAQ{% endblock %}</title>
</head>

{% block content %}
<div class="container full-height">
    <div class="faq-grid">
        <div class="release-item centered">
            <h2>What is Amazing Bob?</h2>
            <p>Amazing Bob is your go-to project management platform designed to streamline your workflow and boost team productivity. Whether you’re managing tasks, tracking progress, or collaborating with team members, Amazing Bob has you covered.</p>
        </div>
        <div class="release-item centered">
            <h2>How do I register?</h2>
            <p>Getting started with Amazing Bob is a breeze! Simply click the "Register" button at the top right corner, fill out a few details, and you’ll be on your way to managing your projects like a pro.</p>
        </div>
        <div class="release-item centered">
            <h2>How do I log in?</h2>
            <p>To log in, just click the "Login" button at the top right corner and enter your credentials. It’s quick, easy, and secure.</p>
        </div>
        <div class="release-item centered">
            <h2>Can I manage my projects from my profile?</h2>
            <p>Absolutely! The "My Projects" section in your profile gives you a centralized hub to view, manage, and track all your projects. Get insights, updates, and more, all in one place.</p>
        </div>
        <div class="release-item centered">
            <h2>Who can I contact for support?</h2>
            <p>If you need help, we’re here for you! Reach out via the "Contact Us" form or email us at support@amazingbob.com. We’re dedicated to making your experience with Amazing Bob seamless and enjoyable.</p>
        </div>
    </div>
</div>
{% endblock %}
