{% extends "base.html" %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Releases{% endblock %}</title>
</head>

{% block content %}
<div class="container full-height">
    <div class="faq-grid">
        <div class="release-item centered">
            <div class="release-date">Version v0.1 - Released on December 19, 2024</div>
            <h2>New Features</h2>
            <ul>
                <li>Introduced project dashboard for better project management.</li>
                <li>Improved user interface with easier navigation.</li>
                <li>Added notifications for project updates.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
