{% extends "base.html" %}

{% block content %}
<div class="container full-height">
    <a href="{% url 'project_create' %}" class="header-button">Create Project</a>

    {% for project in projects %}
        <div class="release-item centered project-item">
            {% if project.image and project.image.url %}
                <img src="{{ project.image.url }}" alt="{{ project.title }} Image" class="project-image" style="max-width: 200px; height: 200px; object-fit: cover;">
            {% else %}
                <p>No Image</p>
            {% endif %}
            <div class="release-date">
                <strong>[{{ project.id }}]</strong> {{ project.title }} - ({{ project.start_date }} - {{ project.end_date|default:"Ongoing" }})
            </div>
            <div class="project-details">
                <p><strong>Manager:</strong> {{ project.manager }}</p>
                <p><strong>Client:</strong> {{ project.client.company }}</p>
            </div>

            <h4>Employees:</h4>
            <ul class="employee-list">
                {% for employee in project.employees.all %}
                    <li>{{ employee.id }}. {{ employee.name }} {{ employee.surname }} -
                        {% for position in employee.positions.all %}
                            {{ position.title }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                {% empty %}
                    <li>No employees assigned.</li>
                {% endfor %}
            </ul>

            <h4>Job:</h4>
            <ul class="job-list">
                {% if project.jobs %}
                    <li>{{ project.jobs.title }}: {{ project.jobs.notes|default:"No notes" }}</li>
                {% else %}
                    <li>No job assigned.</li>
                {% endif %}
            </ul>

            <h4>Bill:</h4>
            <ul class="bill-list">
                {% if project.bills %}
                    <li>Issued: {{ project.bills.date_of_issue }} | Cost: {{ project.bills.cost }} EUR</li>
                {% else %}
                    <li>No bills issued.</li>
                {% endif %}
            </ul>

            <h4>Description:</h4>
            <ul class="bill-list">
                {% if project.description %}
                    <li>{{ project.description | safe }}</li>
                {% else %}
                    <li>No description.</li>
                {% endif %}
            </ul>

            <div class="crud-buttons">
                <a href="{% url 'user_projects' %}" class="header-button">Back to Projects</a>
                <a href="{% url 'project_edit' project.pk %}" class="header-button">Edit</a>
                <a href="{% url 'project_delete' project.pk %}" class="header-button">Delete</a>
            </div>
        </div>
    {% empty %}
        <p>No projects found.</p>
    {% endfor %}
</div>
{% endblock %}
